
@{
    ViewBag.Title = "NovoUsuario";
}

<h2>NovoUsuario</h2>

<form method="post" action="NovoUsuario">
    <fieldset class="border border-dark p-2 m-2">
        <legend class="w-auto pl-3 pr-3">Adicionar novo usuário</legend>

        <div class="container row">

            <div class="form-group col-3">
                <label class="text-secondary">Nome </label>
                <input class="form-control col" type="text" name="nome" maxlength="60" pattern="[A-Za-z\s]{4,60}" />

            </div>
            <div class="form-group col-3">
                <label class="text-secondary">Email</label>
                <input class="form-control col" type="text" name="email" maxlength="60" />
            </div>
            <div class="form-group col-3">
                <label class="text-secondary">RG </label>
                <input class="form-control col" type="text" name="rg" maxlength="60" />
            </div>
            <div class="form-group col-3">
                <label class="text-secondary">Senha</label>
                <input class="form-control col" type="text" name="senha" maxlength="60" />
            </div>
        </div>

    </fieldset>
    <hr />
    <div class="row col">
        <div>
            <button type="submit" class="btn btn-dark mr-2">Adicionar</button>
        </div>
        <div>
            <button type="submit" value="Voltar" name="Button" class="btn btn-dark">Voltar</button>
        </div>
        </div>
</form>