
@{
    ViewBag.Title = "UsuarioAdm";
}

<h2>UsuarioAdm</h2>

<form method="post" action="UsuarioAdm">
    <div class="col-12">
        <div>
            Nome: <input type="text" name="nome" />
        </div><br />
        <div>
            Email: <input type="text" name="email" />
        </div><br />
        <div>
            Senha: <input type="text" name="senha" />
        </div>
        <br />
        <div>
            Rg: <input type="text" name="rg" />
        </div><br />
        <div>
            <button type="submit">Adicionar</button>
        </div>

    </div>
</form>