@{
    ViewBag.Title = "Home Page";
}
<div class="row">
<div class="col-4 col-sm-4 col-md-4 col-lg-4 bg-success">Equerda</div>
<div class="col-4 col-sm-4 col-md-4 col-lg-4 bg-danger  text-center">
    <fieldset class="border border-dark"><legend> Login Usuário</legend>
        <form method="post" action="Index" name="" class="ml-2">
            <div class="row col">
                <div class="form-group col">
                    <label>Usuário</label>
                </div>
                <div class="form-group col">
                    <input type="text" name="nome" maxlength="30" required />
                </div>
            </div>
            <div class="row col">
                <div class="form-group col">
                    <label>Senha</label>
                </div>
                <div class="form-group col">
                    <input type="password" name="senha" maxlength="30" class="mb-2" required />
                </div>
            </div>
            <div class="row col form-group text-center">               
                <button class="mr-3" type="submit">Entrar</button>
             </div>
        </form>
        </fieldset>
</div>
<div class="col-4 col-sm-4 col-md-4 col-lg-4 bg-success">Direita</div>
    </div>
@*<d class="mt-4">
    <h3 class="text-primary">Login e Senha</h3>
    <form method="post" action="Index" name="" class="ml-2">
        <div class="row">
            <div class="row col-12">
                <div class="form-group col-1">
                    <label>Usuário</label>
                </div>
                <div class="form-group col-2">
                    <input type="text" name="nome" maxlength="30" required />
                </div>
                <div class="form-group col-1">
                    <label>Senha</label>
                </div>
                <div class="form-group col-2">
                    <input type="password" name="senha" maxlength="30" class="mb-2" required />
                </div>
            </div>
            <div class=" row form-group col-2">

                <button type="submit">Entrar</button>
                <button type="button" class="btn btn-dark btn-sm">Sair</button>
            </div>
        </div>
    </form>
    <hr class="border-dark" />*@

