@{
    ViewBag.Title = "Home Page";
}
<div class="row">
<div class="col-4 col-sm-4 col-md-4 col-lg-4"></div>
<div class="col-4 col-sm-4 col-md-4 col-lg-4 text-center">
    <fieldset class="border p-2 m-2 border-dark">
        <legend class="w-auto pl-3 pr-3"> Login Usuário</legend>
        <form method="post" action="Home/Index" name="" class="ml-2">
            <div class="row col">
                <div class="form-group col">
                    <label>Usuário</label>
                </div>
                <div class="form-group col">
                    <input type="text" name="nome" maxlength="15" required />
                </div>
            </div>
            <div class="row col">
                <div class="form-group col">
                    <label>Senha</label>
                </div>
                <div class="form-group col">
                    <input type="password" name="senha" maxlength="15" class="mb-2" required />
                </div>
            </div>
            <div class="row col form-group text-center">
                <button class="mr-3 btn btn-dark" type="submit">Entrar</button>
            </div>
            
        </form>
        </fieldset>
</div>

    </div>
